.severity-tag {
  display: inline-block;
  padding: 2px 10px;
  border-radius: 24px;
  font-size: 0.75rem;
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.5;
  white-space: nowrap;
}

.severity-tag--critical {
  background-color: #ff000b7a;
  color: #520408;
}

.severity-tag--high {
  background-color: #ffd7d9;
  color: #520408;
}

.severity-tag--medium {
  background-color: #fddc69;
  color: #3a3000;
}

.severity-tag--low {
  background-color: #e0e0e0;
  color: #393939;
}
